# to cleanup the repo
# remove ignored files
# git status --ignored --short | grep '^!!' | awk '{print substr($0, 4)}' | xargs rm -r
# need to 'npm install' after the cleanup

public/
resources/
node_modules/
.hugo_build.lock
hugo_stats.json


